@model DapperProje.ModelViews.UserModelView

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function() {

        $('.btnDelete').on('click',function() {

            var userId = $(this).attr('data-id');
            var data = {};
            data.userId = userId;
            var  that = $(this);
            $.ajax({
                url: '@Url.Action("DeleteUser","Home")',
                data: data,
                type: 'POST',
                success: function(result) {
                    console.log(result.result);
                    if (result.result) {
                        that.closest('tr').remove();
                    } else {
                        alert('error happened');
                    }
                },
                error:function(e) {
                    alert(e);
                }

            });

        });

    });
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Dapper-UnitOfWork-Repository implimentation example</p>
   
</div>

<div class="row">
    <p class="lead">User table </p>
    <p><button class="btn btn-default" data-toggle="modal" data-target="#addModal">Add new user</button>  </p>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>---</td>
        </tr>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td><button class="btn btn-danger btnDelete" data-id="@item.Id">Delete</button></td>
            </tr>
        } 
    </table>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
               @using (@Html.BeginForm("AddUser", "Home", FormMethod.Post))
               {
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Name:</label>
                    
                        @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
                    </div>
                   <div class="form-group">
                       <label for="message-text" class="control-label">Email:</label>
                       @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                   </div>

                    <fieldset>
                    <legend>Address</legend>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">City:</label>
                           
                            @Html.TextBoxFor(m => m.User.Address.City, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Location:</label>
                            @Html.TextBoxFor(m => m.User.Address.Location, new { @class = "form-control" })
                        </div>
                    </fieldset>            
                       <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add record</button>
                </div>
               }
              
</div>
          
        </div>
    </div>
</div>